{% extends "layout.html" %}
{% block content %}
    <h1>{{ lesson.title }}</h1>
    <div class="embed-responsive embed-responsive-16by9 my-4">
        <video controls class="embed-responsive-item"><source src="{{ lesson.media }}" type="video/mp4"></video>
    </div>
    <p class="lead">{{ lesson.text }}</p>
    
    <button id="next-btn" class="btn btn-primary" data-next="{{ lesson.next_lesson }}" data-lesson-id="{{ lesson.lesson_id }}">Next</button>
    <script src="{{ url_for('static', filename='js/learn.js') }}"></script>
{% endblock %}
